@charset "utf-8";

html{
    filter:expression(document.execCommand("BackgroundImageCache", false, true));
    margin:0px;
	height:100%;
}

body,form{-webkit-text-size-adjust:none;}

body {
    font:12px/1.5 Verdana,Helvetica,Arial,sans-serif;
    padding: 0px;
    margin:0px auto;
    color:#002a2a;
    overflow: hidden;
	width:100%;
	height:100%;
}


input[type="image"]{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}

/*设置input的placeholder字体颜色*/
input:-moz-placeholder{color: #b8b8b8;}
::-webkit-input-placeholder{color:#b8b8b8;}

textarea
{
    resize:vertical;
    -moz-resize:vertical;
    font-family:Verdana,Helvetica,Arial,sans-serif;
}

.clear{clear:both;zoom:1;}
.clear:after{
    content: '\20';
    display: block;
    clear: both;
}

table.mainTable
{
    border:1px solid #bfbfbf;
    empty-cells:show;
    border-collapse:collapse;
    width:100%;
    border-spacing:0;
}

table.mainTable tr.control{
    background:#f3f3f3;
}
table.mainTable tr.control:hover{
    background:#fff;
}
table.mainTable tr.control{
    background:#f3f3f3;
}
table.mainTable td,
table.mainTable th{
    border:1px solid #9dc7dc;
    padding:4px;
    white-space:nowrap;
}
table.mainTable .th,
table.mainTable th{
    font-size:13px;
    line-height: 1.8em;
    font-weight: bold;
    text-align: center;
    background: #d5f0f3;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#edfeff), to(#b8eaee));
    background: -moz-linear-gradient(#edfeff, #b8eaee);
    background: -o-linear-gradient(#edfeff, #b8eaee);
    white-space:nowrap;
    text-shadow:1px 1px 0 #fff;
}
table.mainTable .th label,
table.mainTable th label
{
    font-size: 13px;
    font-weight: bold;
}

table.mainTable a.button{
    text-decoration:none;
    height:20px;
    line-height:20px;
    line-height:22px\9;
}

table.mainTable .button,
table.mainTable .submit,
table.mainTable button,
table.mainTable input[type="button"],
table.mainTable input[type="submit"]
{
    display:inline-block;
    margin:auto;
    vertical-align:middle;
    height:22px;
    line-height:22px;
    line-height:22px\9;
    background:url(btn_small.gif) repeat-x center top;
    overflow:hidden;
    text-align:center;
    color:#3d3d3d;
    letter-spacing:1px;
    cursor:pointer;
    padding:0 4px;
    border:1px solid #ababab;
    font-size:12px;
    text-shadow:#fff 1px 1px 0;
    border-radius:2px;
    white-space:nowrap;
    -moz-border-radius:2px;
    -khtml-border-radius:2px;
    -webkit-border-radius:2px;
    transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
}

table.mainTable a.submit,
table.mainTable .submit,
table.mainTable input.submit,
table.mainTable input[type="submit"]
{
    padding:0 4px;
    padding:0 5px\9;
    _padding:0px;
    font-size:13px;
    color:#005e7d;
    border:1px solid #65aac7;
    height:27px;
    line-height:27px;
    line-height:29px\9;
    letter-spacing:1px;
    text-decoration:none;
    background:url(btn_big.gif) repeat-x center top;
}

table.mainTable a.submit
{
    height:25px;
    line-height:25px;
}

table.mainTable .submit:hover,
table.mainTable .button:hover,
table.mainTable button:hover,
table.mainTable input.hover,
table.mainTable input[type="button"]:hover,
table.mainTable input[type="submit"]:hover
{
    background-position:left -27px;
    color:#C22F0A;
    border:1px solid #c60;
    inner-border:1px solid red;
    text-decoration:none;
}

table.mainTable .submit:active,
table.mainTable .button:active,
table.mainTable button:active,
table.mainTable input[type="button"]:active,
table.mainTable input[type="submit"]:active
{
    background-position:left -54px;
    color:#169bbc;
    border:1px solid #599dbd;
}

table.mainTable .input,
table.mainTable textarea,
table.mainTable input[type="text"],
table.mainTable input[type="password"]
{
    line-height:20px;
    vertical-align:middle;
    outline:none;
    font-size:12px;
    border:1px solid #88b5b2;
    padding:0 3px;
    color:#777;
    background-color:#fff;
    box-shadow:inset 1px 1px 2px #ddd;
}

table.mainTable .input,
table.mainTable input[type="text"],
table.mainTable input[type="password"]
{
    height:20px;
}

table.mainTable .input:hover,
table.mainTable textarea:hover,
table.mainTable input[type="text"]:hover,
table.mainTable input[type="password"]:hover
{
    border:1px solid #79a3dd;
}

table.mainTable .input:focus,
table.mainTable textarea:focus,
table.mainTable input[type="text"]:focus,
table.mainTable input[type="password"]:focus
{
    border:1px solid #5993bd;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow:inset 1px 1px 2px #ddd, 0 0 7px #9dc6ef;
}

table.mainTable input[type="password"]
{
    font-family:Tahoma,Simsun,Helvetica,sans-serif;
}

table.mainTable a.disabled,
table.mainTable .disabled,
table.mainTable .disabled:hover,
table.mainTable .disabled:active,
table.mainTable .disabled:hover,
table.mainTable input[disabled="disabled"],
table.mainTable input[disabled="disabled"]:hover,
table.mainTable input[disabled="disabled"]:active,
table.mainTable input[disabled="disabled"]:hover,
table.mainTable textarea[disabled="disabled"],
table.mainTable textarea[disabled="disabled"]:hover,
table.mainTable textarea[disabled="disabled"]:active,
table.mainTable textarea[disabled="disabled"]:hover
{
    color:#999;
    cursor:default;
    background-position:left -81px;
    text-shadow:#fff 1px 1px 0;
    border:1px solid #dbdbdb;
    resize:none;
}

table.mainTable select {
    margin:1px auto 1px auto;
    padding:2px;
}

table.mainTable select,
table.mainTable textarea,
table.mainTable input[type="text"],
table.mainTable input[type="password"],
table.mainTable input[type="datetime"],
table.mainTable input[type="datetime-local"],
table.mainTable input[type="date"],
table.mainTable input[type="month"],
table.mainTable input[type="time"],
table.mainTable input[type="week"],
table.mainTable input[type="number"],
table.mainTable input[type="email"],
table.mainTable input[type="url"],
table.mainTable input[type="search"],
table.mainTable input[type="tel"],
table.mainTable input[type="color"],
table.mainTable .uneditable-input {
    margin-top: 0px;
    margin-bottom: 0px;
}

table.mainTable tr .td1,
table.mainTable tr .tr_hover .td1,
table.mainTable .td1
{
    background:#defcff;
}


table.mainTable label, table.mainTable input,table.mainTable button, table.mainTable select, table.mainTable textarea
{
    line-height: normal;
}
table.mainTable label
{
    margin-bottom: auto;
}

/*table.mainTable input[type="checkbox"]
{
    margin-top: auto;
    margin-bottom: auto;
}*/

.helpicon {
    background: url("helpicon.gif") no-repeat 0 -1px;
    cursor:help;
    display:inline-block;
    height:17px;
    width:20px;
    overflow:hidden;
    vertical-align:middle;
}

#body-main{
	top:0;
	left:0;
	bottom:0;
	position:fixed;
	display:block;
	width:100%;
}

#bg-div{
	background:#017d95 url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0;
}

#bg-div.big-screen{background-image: url(bg@2x.jpg);}

.ul{
    list-style-type: none;
    margin:0;
    padding:0;
    zoom:1;
}
.ul:after{
    content: '\20';
    display: block;
    clear: both;
}

#left-menu-div{position:absolute;left: 0;top:0;height:100%;}
#left-menu-div-hoverbg{position:absolute;background:rgba(255,255,255,0.3);width:0;height:0;opacity:0;overflow:hidden;top:0;left:0;}
#logo{position:fixed;width:210px;background:rgba(255,255,255,0.3) url(logo.png) no-repeat left bottom;height: 40px;cursor: pointer;-webkit-background-size:210px 40px;background-size:210px 40px;}
#left-quick-menu-div{
	position:absolute;
	top:40px;
	bottom:0;
	background:rgba(0,0,0,0.4);width:50px;
	-webkit-mask:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,0)),color-stop(10%,rgba(255,255,255,1)),to(rgba(36,142,36,1)));
}
#left-menu{position:absolute;top:40px;bottom:0;left:50px;}
#main-desktop-bottom-div{position:fixed;left:0;right:0;text-align:center;bottom:-45px;}
#main-desktop-right-btn,#main-desktop-left-btn{position:absolute;right:10px;top:-65px;opacity:0.3;cursor:pointer;background:url(arrow_right.png);width:32px;height:32px;transition: all 0.3s ease-in-out 0s;-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;}
#main-desktop-right-btn:hover,#main-desktop-left-btn:hover{opacity:0.6;}
#main-desktop-left-btn{right:auto;left:10px;}
#main-desktop-center-div{margin:auto;display:inline;}
#main-desktop-center-div div{display:inline-block;position:relative;margin:0 4px;top:-60px;width:6px;height:6px;background:#fff;border-radius:3px;opacity:0.5;}
#main-desktop-center-div div.focus{opacity:0.9;}

.menu-div{position:absolute;width:160px;display:block;margin-right:1px;background:rgba(255,255,255,0.3);height:100%;text-shadow: 1px 1px 0 rgba(255,255,255,0.3);}
.menu-div .scroller{position:absolute;width:160px;}
.left-menu-ul{display:block;border-top:1px solid #518ea2;border-bottom: 1px solid rgba(255,255,255,0.2);font-size:14px;color:#00505e;}
.left-menu-ul li{display:block;height:26px;}
.left-menu-ul li div.text{height:24px;border-top: 1px solid rgba(255,255,255,0.2);border-bottom:1px solid #518ea2;line-height:22px;overflow:hidden;padding:0 12px 0 12px;white-space:nowrap;text-overflow:ellipsis;cursor:pointer;}
.left-menu-ul li.hover{background:rgba(255,255,255,0.3);}
.menu_top_bg{background:rgba(255,255,255,0.3);position:absolute;margin-top:-200px;height:200px;width:160px;z-index:-1;}
.sub_menu_right,.sub_menu_right_bg{position:absolute;margin:4px 0 0 133px;width:8px;height:0px;overflow: hidden;border-color:transparent transparent transparent rgba(58,114,127,0.45);border-style:solid;border-width:8px;font-size:0;}
.sub_menu_right_bg{margin:5px 0 0 134px;border-left-color:rgba(0,0,0,0.1)}
.left-menu-ul li.hover .sub_menu_right{border-left-color:rgba(255,255,255,0.8);}
.left-menu-ul li.hover .sub_menu_right_bg{border-left-color:rgba(0,0,0,0.3);}
.left-menu-ul li.goto-parent-menu{background:url(up_menu.png) 8px center no-repeat;display:none;}
.left-menu-ul li.goto-parent-menu div.text{padding-left:26px;}

#left-quick-menu-div{overflow:hidden;width:50px;}
#left-quick-menu-div .scroller{overflow:hidden;}
#left-quick-menu-div ul{width: 50px;}
#left-quick-menu-div ul li{float:left;width:40px;height:40px;margin:5px 0 0 5px;text-align:center;vertical-align:middle;display:table-cell;}
#left-quick-menu-div ul li img{padding:4px;border-radius:3px;cursor:pointer;width:32px;height:32px;}

#main-body-div{position:absolute;left:211px;right:0;top:0;bottom:0;display:none;overflow:hidden;}
#main-body-div.for-small-window{left:0;box-shadow:none;}

.window-main{position:absolute;left:0;right:0;top:0;bottom:0;min-width:320px;}
.for-small-window .window-main{border-left:none;border-right:none;}
.window-title{
text-align:center;
border-bottom:1px rgba(0,0,0,0.4) solid;
height:40px;
line-height:38px;
padding:0 4px;
box-shadow:inset 1px 1px 0 rgba(255,255,255,0.6),inset -1px -1px 0 rgba(255,255,255,0.4);
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 247, 255, 0.2)), to(rgba(45, 112, 127, 0.3)));
background-image: -webkit-linear-gradient(top, rgba(255, 247, 255, 0.2), rgba(45, 112, 127, 0.3));
background-image: -moz-linear-gradient(top, rgba(255, 247, 255, 0.2), rgba(45, 112, 127, 0.3));
background-image: -o-linear-gradient(top, rgba(255, 247, 255, 0.2), rgba(45, 112, 127, 0.3));
background-image: -ms-linear-gradient(top, rgba(255, 247, 255, 0.2), rgba(45, 112, 127, 0.3));
background-image: linear-gradient(top, rgba(255, 247, 255, 0.2), rgba(45, 112, 127, 0.3));
}
.window-body{background:#f2feff;padding:0px;left:0;right:0;top:41px;bottom:0;overflow:auto;position:absolute;}
.window-body .scroller{overflow:auto;min-height:100%;min-width:100%;}
.window-body-text{padding:5px;}



.title-div{font-size:14px;text-shadow: 1px 1px 0 rgba(255,255,255,0.5);color:#00434f;text-align:center;padding:0 8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.btn-back{float:left;width:40px;text-align:left;height:40px;background-image:url(button_back.png);background-repeat:no-repeat;background-position:left top;padding-left:20px;color:#fff;text-shadow: 0 -1px 0 rgba(0,0,0,0.7);font-size:14px;cursor:pointer;background-size:60px 40px;}
.btn-close,.btn-refresh{border-radius:3px;background:url(button_close.png);width:24px;height:24px;float:right;margin:7px 2px;cursor:pointer;background-size:100% 100%;}
.btn-refresh{background:url(button_refresh.png) center center no-repeat;}
.btn-refresh.loading{background:url(loading_1.png) center center no-repeat;background-size:18px 18px;cursor:default;}

#page_loading_div{z-index:99999;position:fixed;width:61px;height:61px;background-color:rgba(0,0,0,0.6);border-radius:6px;}
#page_loading_image{margin:14px 0 0 14px;width:33px;height:33px;background-size:33px 33px;background-image:url(loading_2.png);background-repeat:no-repeat;background-position:left top;}


#main-desktop{position:absolute;left:0;top:0;width:100%;height:100%;font-size:12px;}
#main-desktop-div{position:absolute;height:100%;width:100%;}
.desktop-div{position:absolute;height:100%;width:100%;}


.loaded{position:fixed;background:rgba(0,0,0,0.25);border-radius:4px;font-size:14px;text-shadow: 1px 1px 0 rgba(255,255,255,0.5);;white-space:nowrap;overflow:hidden;text-align:center;vertical-align:middle;}




#login_div{position:fixed;top:0;left:0;right:0;bottom:0;display:table;text-align:center;width:100%;height:100%;}



/**
 *
 * Horizontal Scrollbar
 *
 */
.myScrollbarH
{
	position:absolute;
	z-index:100;
	height:7px;
	bottom:1px;
	left:2px;
	right:7px
}

.myScrollbarH > div {
	height:100%;
}


/**
 *
 * Vertical Scrollbar
 *
 */
.myScrollbarV {
	position:absolute;
	z-index:100;
	width:7px;
	bottom:3px;
	top:3px;
	margin-left:152px;
}

.myScrollbarV > div {
	width:100%;
}


/**
 *
 * Both Scrollbars
 *
 */
.myScrollbarH > div,
.myScrollbarV > div {
	position:absolute;
	z-index:100;

	/* The following is probably what you want to customize */
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	width:5px;
	background:rgba(0,0,0,0.45);
	border-radius:3px;
}









/* for bootstrap */

.well {
    background-color: #fff;
    border: medium none;
    box-shadow: 0 1px 2px rgba(0, 60, 74, 0.3);
    margin-top:3px;
    margin-left:3px;
    margin-right:3px;
    padding:10px;
}

.form-actions {
    background-color: #def8ff;
    border-top: 1px solid #add4de;
}

/* HD / Retina -----------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:200dpi)
{
#logo{background-image: url(logo@2x.png);}
.btn-back{background-image:url(button_back@2x.png)}
.btn-close{background-image:url(button_close@2x.png);}
.btn-refresh{background-image:url(button_refresh@2x.png);}
.btn-refresh.loading{background-image:url(loading_1@2x.png);}
#page_loading_image{background-image:url(loading_2@2x.png);}

.left-menu-ul li.goto-parent-menu{background-image:url(up_menu@2x.png);background-size:15px 16px;}

#main-desktop-right-btn,#main-desktop-left-btn{background-size:32px 32px;background:url(arrow_right@2x.png);}


[class^="icon-"],[class*=" icon-"]{background-image:url("../../bootstrap/img/glyphicons-halflings@2x.png");background-size:469px 159px;}
.icon-white {
    background-image: url("../../bootstrap/img/glyphicons-halflings-white@2x.png");
}

}


@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5)
{

}